*{
    margin: 0;
    padding: 0;
    color: #fafafa;
    font-family: 'Shippori Antique B1', sans-serif;
}

body{
    background-color: #002651;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0px 100px;
    box-sizing: border-box;
    background: radial-gradient(114.86% 408.05% at -3.58% 85.93%, #775ADA 0%, rgba(40, 199, 250, 0.45) 54.48%, rgba(255, 48, 79, 0.58) 100%);
}

.navbar ul li{
    display: inline;
    margin: 0 10px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.landing{
    position: relative;
    width: 100%;
    height: 70vh;
    box-sizing: border-box;
    background: radial-gradient(114.86% 408.05% at -3.58% 85.93%, #775ADA 0%, rgba(40, 199, 250, 0.45) 54.48%, rgba(255, 48, 79, 0.58) 100%);
}

.landing .landing-text{
    text-align: center;
    padding-top: 200px;
    width: 100%;
    height: 72px;
    left: 408px;
    top: 308px;
}

.landing .landing-text h1{
    font-size: 50px;
}

.about{
    position: relative;
    padding: 100px;
    width: 100%;
    height: 100%;
    background-color: #002651;
    box-sizing: border-box;
}

.about .about-me .desc{
    float: right;
    width: 50%;
    padding: 50px;
    padding-bottom: 200px;
    box-sizing: border-box;
}

.about .about-me .desc h3{
    background: radial-gradient(96.86% 347.28% at 3.14% 50%, #775ADA 0%, rgba(40, 199, 250, 0.7) 54.48%, rgba(255, 48, 79, 0.7) 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 50px;
    padding-bottom: 30px;
}

.about .about-me .desc p{
    font-size: 20px;
}

.about .about-me .gambar{
    width: 50%;
    float: left;
    padding-bottom: 50px;
    mix-blend-mode: luminosity;
}

.about .education h3{
    background: radial-gradient(96.86% 347.28% at 3.14% 50%, #775ADA 0%, rgba(40, 199, 250, 0.7) 54.48%, rgba(255, 48, 79, 0.7) 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 50px;
    padding-bottom: 30px;
}

.about .education table{
    border-spacing: 20px;
    font-size: 20px;
    box-sizing: border-box;
    padding-bottom: 100px;
}

.about .software{
    box-sizing: border-box;
}

.about .software h3{
    background: radial-gradient(96.86% 347.28% at 3.14% 50%, #775ADA 0%, rgba(40, 199, 250, 0.7) 54.48%, rgba(255, 48, 79, 0.7) 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 50px;
    padding-bottom: 30px;
}

.about .software ul{
    font-size: 20px;
    padding: 10px;
}

.portofolio{
    position: relative;
    padding: 100px;
    width: 100%;
    height: 100%;
    background-color: #002651;
    box-sizing: border-box;
}

.portofolio h3{
    background: radial-gradient(96.86% 347.28% at 3.14% 50%, #775ADA 0%, rgba(40, 199, 250, 0.7) 54.48%, rgba(255, 48, 79, 0.7) 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 50px;
    padding-bottom: 30px;
}

.portofolio .porto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.contact{
    position: relative;
    padding: 100px;
    width: 100%;
    height: 100%;
    background-color: #002651;
    box-sizing: border-box;
}

.contact h3{
    background: radial-gradient(96.86% 347.28% at 3.14% 50%, #775ADA 0%, rgba(40, 199, 250, 0.7) 54.48%, rgba(255, 48, 79, 0.7) 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 50px;
    padding-bottom: 30px;
}

.contact form{
    font-size: 20px;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

.contact form input[type=text], input[type=email], textarea {
    width: 55%;
    padding: 12px;
    border: 1px solid #fefefe;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 20px;
    resize: vertical
}